@page
@model ForgotPasswordConfirmation

@{
    Layout = "_LayoutClean";
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 py-4">
        <section>
            <h2 class="text-center logo-sub py-4">OmniCon</h2>
            <h3 class="text-center">Forgot Password Confirmation</h3>
            <p class="text-center">
                Please check your email to reset your password.
            </p>
            <div class="py-4 text-center">
                <a href="/Identity/Account/Login" class="btn btn-primary w-50">Back to Login</a>
            </div>
        </section>
    </div>
    <div class="col-md-4"></div>
</div>
