@page
@model ForgotPasswordModel

@{
    Layout = "_LayoutClean";
    ViewData["Title"] = "Forgot your password?";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 py-4">
        <section>
            <form id="forgot-password-form" method="post">
                <h2 class="text-center logo-sub py-4">OmniCon</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"
                        placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
                </div>
                <div class="py-4">
                    <p>
                        <a id="login-link" asp-page="./Login">Back to Login</a>
                    </p>
                    <p>
                        <a id="register-link" asp-page="./Register">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
