@using wppCms.Areas.Usr.Models
@model UsrAnalyticsIndexViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Usr/Views/Shared/_Layout.cshtml";
}

<div class="container my-5">
    
</div>