@using wppCms.Areas.Usr.Models
@model UsrUserManagementChangePasswordViewModel
@{
    Layout = "~/Areas/Usr/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Change Password";
}

<div class="container">
    <h2>Change Password</h2>

    <!-- Validation summary for displaying errors returned from ModelState -->
    <div asp-validation-summary="All" class="text-danger"></div>

    <form method="post" action="/@Model.Culture/usr/change-password">
        <div class="py-2">
            <label asp-for="CurrentPassword">Current Password</label>
            <input asp-for="CurrentPassword" name="CurrentPassword" required class="form-control" type="password" />
            <!-- Field-specific validation message -->
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>

        <div class="py-2">
            <label asp-for="NewPassword">New Password</label>
            <input asp-for="NewPassword" name="NewPassword" required class="form-control" type="password" />
            <!-- Field-specific validation message -->
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="py-3">
            <button type="submit" class="btn btn-primary">Change Password</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
