@using wppCms.Areas.Advertiser.Models
@model AdvertiserHomeAdDetailsViewModel

@{
    ViewData["Title"] = "Advertiser Dashboard";
    Layout = "~/Areas/Advertiser/Views/Shared/_Layout.cshtml";
    ViewData["ChannelId"] = "";
}

<div class="container my-5">
</div>
